// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

// Color scheme

$jtDark: #d10000;
$jtLight: #f4f7ff;
$jtKindOfLight: $jtLight;

h1 {
    margin-top: 1rem;
}

body {
    text-align: center;
    font-family: Helvetica, sans;
    background-color: $jtDark;
    color: $jtLight;
    overflow: hidden;
}

.inverted {
    background-color: $jtKindOfLight;
    color: $jtDark;
}

.bpm-slower, .bpm-faster, .bpm-value {
    display: inline-block;
    vertical-align: middle;
    width: 5rem;
}

.bpm-value {
    font-size: 250%;
}

.chords {
    font-size: 24px;
    font-weight: bold;
}

ul.counter {
    display: inline-block;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.counter li {
    display: inline-block;
    font-size: 350%;
}

.chords ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 400%
}

.chords li {
    margin: 0 0 1.5rem 0;
}

.subdivision-container {
    display: inline-block;
}

.subdivision {
    display: block;
    font-size: 20%;
    font-weight: bold;
    padding-left: 0.5rem;
}

.sub-chord {
    display: inline-block;
    font-size: 40%;
    margin: -2ex 0.5ex 0 0.5ex;
    padding: 0;
}

.modal-content {
    color: black;
}

#about-btn {
    position: fixed;
    bottom: 0;
    display: block;
    margin: auto;
    width: 100%;
    padding: 0;
}